<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>FirebaseAuthRedirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-155402162793-ios-9b30077e5f880d9ec808f8</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>push-to-talk</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to scan QR codes for payments</string>
	<key>NSContactsUsageDescription</key>
	<string>We need access to your contacts to make payments easily</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1615735364940908~8282583220</string>
	<!-- Temporarily disabled to use test ad unit ID -->
	<!-- <key>GADInterstitialAdUnitID</key>
	<string>ca-app-pub-1615735364940908/8025779962</string> -->
</dict>
</plist>
